<%= form_for(@record, class:"form") do |f| %>
<%= render 'shared/error', object: f.object %>
<div class="form-group">
<%= f.label :card_id, "银行卡" %>
<%= f.select :card_id, Card.all.collect{|p| [(p.name.to_s+"-"+p.num.to_s), p.id]}, class:"form-control" %>
</div>
<div class="form-group">
<%= f.label :money, "发生额" %>
<%= f.number_field :money, class:"form-control", placeholder:"￥00.00" %>
</div>
<div class="form-group">
<%= f.label :description, "备注" %>
<%= f.text_area :description, class:"form-control" %>
</div>
<%= f.submit  class:"btn btn-primary btn-lg" %>
<% end %>
