<tr>
<td><%= card.name %></td>
<td><%= card.num %></td>
<td><%= card.limit %></td>
<td><%= card.sdate %></td>
<td><%= card.pddate %></td>
<td><%= card.remark %></td>
<td>
	<%= link_to "编辑", edit_card_path(card) %>
</td>
<td>
	<%= link_to "删除", card, method: :delete, data:{confirm:"你确定要删除这张卡 ?"} %>
</td>
</tr>
